<!-- start: LOGIN -->
<div class="row">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="logo">
            <img ng-src="{{app.layout.logo1}}" alt="{{app.name}}"/>
        </div>
        <!-- start: LOGIN BOX -->
        <div class="box-login">
            <form class="form-login">
                <fieldset>
                    <legend translate="login.message1"></legend>
                    <legend translate="login.message2"></legend>
                    <div class="form-group">
						<span class="input-icon">
							<input type="text" class="form-control"  ng-model="vm.credentials.username" name="username" placeholder="Username" ng-required="true">
							<i class="fa fa-user"></i> </span>
                    </div>
                    <div class="form-group form-actions">
						<span class="input-icon">
							<input type="password" class="form-control password" name="password" placeholder="Password" ng-model="vm.credentials.password" ng-required="true">
							<i class="fa fa-lock"></i>
                    </div>
                    <div class="form-actions">
                        <div class="checkbox clip-check check-primary">
                            <input ng-model="vm.credentials.rememberme" type="checkbox" id="remember" value="1">
                            <label for="remember" translate="login.message3"> </label>
                        </div>
                        <button ng-click="vm.login()" type="submit" class="btn btn-primary pull-right">
                            Login <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                    <div class="new-account">
						Don't have an account yet?
						<a ui-sref="account.registration">
							Create an account
						</a>
					</div>
                </fieldset>
            </form>
            <!-- start: COPYRIGHT -->
            <div class="copyright">
                {{app.year}} &copy; {{ app.name }} by {{ app.author }}.
            </div>
            <!-- end: COPYRIGHT -->
        </div>
        <!-- end: LOGIN BOX -->
    </div>
</div>
<!-- end: LOGIN -->
